.container {
  padding: 20px;
}

.black {
  color: black;
}

.login-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

mdc-layout-grid-cell {
  display: flex;
  justify-content: center;
}

.full-width {
  width: 100%;
}

.message {
  color: black; /* Texte en noir par défaut */
}

.message.error {
  color: red; /* Texte en rouge en cas d'erreur */
}
